h1.pic { color: transparent; font-size: 0; text-indent: -9999999px; } /* if you need a heading without text, create another css with name exactly like this and add background pic */


.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

/*
 * http://webdesignerwall.com/tutorials/css-elastic-videos
 */
.r-vc, .r-vc {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.r-vc iframe, .r-vc iframe,
.r-vc object, .r-vc object,
.r-vc embed, .r-vc embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// body.no-scroll {
//   overflow: hidden;
// }

html.no-scroll {
  height: 100vh;
  overflow: hidden;
  body {
    height: 100vh;
    overflow: hidden;
  }
}

.all-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/*
 * Screen reader only
 */
.sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
